.cart-summary-container{
    display: flex;
    flex-wrap: nowrap;
    width: 81%;
    margin: 20px auto 20px auto;
    margin-bottom: 20px;
    justify-content: space-around;
  }
.list-group-cart {
    list-style: none;
    padding-left: 20px;
}
.address-section, .cart-section {
  flex: 1;
  margin-right: 10px;
}
.cart-list-item {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.cart-tax-group {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding-left: 20px;
}
.cart-total-group {
  border-top: 1px solid lightgray;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  padding-left: 20px;
}
.alert-info {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  padding: .75rem 1.25rem;
  border-radius: .25rem;
}