.list-group {
    width: 81%;
    margin: 20px auto;
}
.order-list-item {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 15px 20px;
}
.order-item-image {
    flex: 1;
    margin-right: 10px;
}
.order-details-group {
    flex: 6;
}
.order-item:not(:last-child) {
    margin-bottom: 20px;
}
.order-item-title {
    font-size: 22px;
}
.order-item-date {
    background: #f5dce3;
    padding: 20px;
}
.list-group-item {
    border: 1px solid grey;
    margin-bottom: 20px;
}